
<div class = "card">
<h4>Forget Password</h4>
<form *ngIf = "!success" [formGroup]= "ForgetForm" (ngSubmit) = "Forgetsubmit()">
    <div>
<input type = "text" formControlName ="email" class = "form-input" placeholder = "Enter email here">
</div>
  <br>
<button class="btn btn-primary"  (click) = "Forgetsubmit()">Forget Password</button>
<br>
<div *ngIf = "success" class = "alert-alert-success mt-5" role = "alert">
    <h4 class= "alert-heading" >Success!</h4>
    <p>Please Check your Email id And Click on Verification Link</p>
</div>
<div  class = "alert-alert-danger mt-5" role = "alert">
    <h4 class= "alert-heading" >Error!</h4>
    <p>{{error}}</p>
</div>
</form>
</div>
