


<nav class = "navbar nav bar-light bg-primary">


  
    <h1 style = "color:aqua">HMA</h1>
    
    <ul>
      <li >
        <a style = "color:antiquewhite" routerLink="">Login</a>
        
          </li>
        <li>
            <a style = "color:antiquewhite" routerLink = "/clientdata">ClientsData</a>
        </li>
        <li >
      <a style = "color:antiquewhite" routerLink ="/companydata" >ComapanyData</a>
      
        </li>
    </ul>
    
    
    </nav>
    
    
    
    
    
    
    
    
    
    
    
